.card{
    border: 1px solid black;
    width: 25vw;
    float: left;
    margin: 15px;
    padding: 10px;
}

.info{
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.productImg{
    margin: 20px auto 0 auto;
    display: block;
}